<!-- Articulos -->
<% function excerpt(content) { %>
  <% return content.split('<!-- more -->')[0]; %>
<% } %>

<section id="articulos">
  <%
    var posts = public.posts._data.posts;
    for (var slug in posts) {
      var post = posts[slug];
      var author = public.posts._data.authors[post.author];
    %>
    <a href="https://github.com/<%= author.github %>" target="_blank">
    <img src="<%= author.avatar %>?s=200" alt="<%= author.name %>" />
    </a>
    <a href="/posts/<%= slug %>"><%= post.title %></a>
    <div>
      <%- excerpt(partial(slug)) %>
    </div>
    <a href="https://github.com/<%= author.github %>" target="_blank">
      <%= author.name %>
    </a>
    <a  href="/posts/<%= slug %>">
      Leer m&aacute;s
    </a>
  <% } %>
</section>
